<!doctype html>
<html>

<head>
  <meta charSet="utf-8" />
  <script>
    const dataHost = "./data/";
    window.dataHost = dataHost;

    const title = "Ranklist - THUPC2023";
    window.title = title;
    document.title = title;
  </script>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <center>
    <div id="root"></div>
  </center>
</body>

</html>
